<link rel="stylesheet" title="Leafnode style" href="ln.css">
<link rel="shortcut icon" href="logo16x16.png" type="image/png">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="robots" content="index,follow">
<meta name="description" content="Easy to use IPv6-capable NNTP news proxy for
Unix/Linux systems.">
<meta name="keywords" content="NNTP,server,news,Usenet,proxy,small,home,LAN,local,easy,Open Source,free,offline,IPv6">
<meta name="language" content="en">
<base target="_top">
